<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Test</title>
    <link rel="stylesheet" href="../css/style.css" />
</head>

<body>
    <div class="color-test0">

    </div>

    <div class="color-test1">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores, iusto alias quia voluptas architecto in
        blanditiis, inventore dolor nostrum adipisci optio. Laborum illo quasi aut cum minus ducimus libero quos.
    </div>
</body>

</html>