<div class="order-list-item">
    <div class="row order-item-content">
        <div class="col-4">
            <div class="row">
                <div class="col-4">
                    <img src="../src/product6.jpg" alt="p1" class="img-fluid" />
                </div>
                <div class="col-8">
                    <span class="order-item-name">
                        地球仪正版学生用初中生小学生专用3d立体磁悬浮ar智能大号儿童启蒙地图地形摆件高中世界官方旗舰店生日礼物
                    </span>
                </div>
            </div>
        </div>
        <div class="col-3">
            <span class="product-property">【20cm无灯】政区+地形+实心底/便携+50大数字地球专题</span>
        </div>
        <div class="col-1 text-center">
            <span class="order-item-oprice">
                ￥199
            </span>
        </div>
        <div class="col-2 text-center">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-outline-secondary">-</button>
                <input type="text" class="form-control text-center" value="1" style="width: 50px;">
                <button type="button" class="btn btn-outline-secondary">+</button>
            </div>
        </div>
        <div class="col-2 text-end">
            <span class="order-item-fprice">
                ￥199
            </span>
        </div>
    </div>
    <div class="row order-item-addition">
        <!-- 订单备注 最多200字 -->
        <div class="col-6" style="border-right: 1px solid #e9ecef;">
            <div class="form-group mt-3">
                <label for="order-remark">配送服务</label>
                <textarea class="form-control" id="order-remark" rows="3" placeholder="请输入订单备注"
                    style="font-size: small;"></textarea>
            </div>
        </div>
        <!-- 配送服务 -->
        <div class="col-6" style="border-left: 1px solid #e9ecef;">
            <div class="form-group mt-3">
                <span>配送服务</span>
                <div class="row mt-2 align-items-center justify-content-between">
                    <div class="col-6">
                        <select class="form-select">
                            <option selected>请选择配送服务</option>
                            <option value="1">快递</option>
                            <option value="2">自提</option>
                        </select>
                    </div>
                    <div class="col-6 text-end">
                        <!-- 配送费用 -->
                        <span class="order-item-fprice">￥10</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>