<div class="product-list-nav gap-2">
    <div class="product-list-tabtitle">
        <ul>
            <li><a href="#" class="implicit-link active">综合</a></li>
            <li><a href="#" class="implicit-link">销量</a></li>
            <li><a href="#" class="implicit-link">价格</a></li>
            <li><a href="#" class="implicit-link">新品</a></li>
            <li><a href="#" class="implicit-link">评分</a></li>
        </ul>
    </div>
    <div class="product-list-pagenav">
        <span><a href="#" class="implicit-link">&lt;</a></span>
        <span class="cur-pagenumber">1</span><span>/</span><span class="tot-pagenumber">10</span>
        <span class=""><a href="#" class="implicit-link">&gt;</a></span>
    </div>
</div>