<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>抖音商城-支付</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
  <link rel="stylesheet" href="../static/css/style.css" />

  <style>

  </style>
</head>

<body>
  <div class="p-3 nav-body">
    <div class="container">
      <div class="shop-nav">
        <div class="shop-nav-brand">
          <a href="#" class="implicit-link">欢迎访问 抖音商城</a>
        </div>

        <div class="shop-nav-userbox">
          <div class="have-logined">
            <span style="white-space: nowrap;">您好,</span>
            <span class="dropdown">
              <button id="nav-user-name" class="btn btn-white dropdown-toggle top-nav-fs-sm1" style="width: 70%;"
                type="button" data-bs-toggle="dropdown">
                <span class="d-inline-block text-truncate" style="width: 90%; white-space: nowrap;"> {{ .username }}
                </span>
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">个人设置</a></li>
                <li><a class="dropdown-item" href="#">购物车</a></li>
                <li><button class="dropdown-item">退出登录</button></li>
              </ul>
            </span>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="main-body">
    <div class="p-3">
      <div class="container">
        <div class="row justify-content-between align-items-center">
          <div class="col-8">
            <h1>支付</h1>
          </div>

          <div class="col-3 alert alert-warning text-center" role="alert">
            <span>支付剩余时间</span>
            <span id="countdown">10:00</span>
          </div>
        </div>
      </div>
    </div>
    <div class="p-3">
      <div class="container">
        <div class="order-info">
          <div class="order-info-title">
            订单信息
          </div>
          <div class="order-info-content">
            <div>
              <span>订单号: </span>
              <span>{{ .orderId }}</span>
            </div>
            <div>
              <span>收货人: </span>
              <span>{{ .recipient }}</span>
            </div>
            <div>
              <span>联系电话: </span>
              <span>{{ .phone }}</span>
            </div>
            <div>
              <span>收货地址: </span>
              <span>{{ .detail }}</span>
            </div>
          </div>
          <div class=" order-info-details justify-content-center">
            <span style="font-weight: bold;">商品详情: </span>
            <table class="table table-hover mt-3 order-info-table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>商品名称</th>
                  <th>商品价格</th>
                  <th>商品数量</th>
                  <th>邮费</th>
                  <th>小计费用</th>
                </tr>
              </thead>
              <tbody>
                {{ range $idx, $item := $.items }}
                <tr data-product-id="{{ $item.productId }}">
                  <td>{{$idx}}</td>
                  {{with $item}}
                  <td>{{ .name }}</td>
                  <td>￥{{ .singlePrice }}</td>
                  <td>{{ .quantity }}</td>
                  <td>￥{{ .deliverCost }}</td>
                  <td class="price">￥{{ .price }}</td>
                  {{end}}
                </tr>
                {{ end }}
              </tbody>
              <tfoot>
                <tr>
                  <td>#</td>
                  <td colspan="2" style="font-weight: bold;">总计</td>
                  <td colspan="1">{{.totalQuantity}}</td>
                  <td colspan="1">￥{{.totalDeliverCost}}</td>
                  <td class="price" style="font-size: 1.2rem;"><span>￥</span><span id="realPrice">{{.realPrice}}</span>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="p-3">
      <div class="container">
        <div class="payment-info">
          <div class="payment-info-title">
            支付信息
          </div>
          <div class="payment-info-content">
            <div>
              信用卡支付
            </div>
            <div class="credit-type d-flex justify-content-between align-items-center">
              <div class="form-check">
                <div class="d-flex justify-content-between align-items-center">
                  <input class="form-check-input" type="radio" name="creditype" id="credVisa" checked>
                  <label class="form-check-label ms-1" for="credVisa">
                    <img src="../static/src/basic/Visa.svg" alt="" height="50px" class="image-fluid">
                    <span>Visa</span>
                  </label>
                </div>
              </div>
              <div class="form-check">
                <div class="d-flex justify-content-between align-items-center">
                  <input class="form-check-input" type="radio" name="creditype" id="credMaster">
                  <label class="form-check-label ms-2" for="credMaster">
                    <img src="../static/src/basic/Mastercard.svg" alt="" height="50px" class="image-fluid">
                    <span>Mastercard</span>
                  </label>
                </div>
              </div>

              <div class="form-check d-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-between align-items-center">
                  <input class="form-check-input" type="radio" name="creditype" id="credUnionpay">
                  <label class="form-check-label ms-1" for="credUnionpay">
                    <img src="../static/src/basic/unionPay.svg" alt="" height="50px" class="image-fluid">
                    <span>银联</span>
                  </label>
                </div>
              </div>
            </div>

            <div class="credit-card-info">
              <div class="row">
                <div class="col-6">
                  <div class="form-group mt-3">
                    <label for="card-number">卡号</label>
                    <input type="password" class="form-control" id="card-number" placeholder="请输入卡号">
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group mt-3">
                    <label for="card-holder">持卡人</label>
                    <input type="text" class="form-control" id="card-holder" placeholder="请输入持卡人姓名">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-5">
                  <div class="form-group mt-3">
                    <label for="card-expiration-month">过期月份</label>
                    <select class="form-control" id="card-expiration-month">
                      <option value="" disabled selected>选择月份</option>
                      <option value="01">01</option>
                      <option value="02">02</option>
                      <option value="03">03</option>
                      <option value="04">04</option>
                      <option value="05">05</option>
                      <option value="06">06</option>
                      <option value="07">07</option>
                      <option value="08">08</option>
                      <option value="09">09</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                    </select>
                  </div>

                </div>
                <div class="col-5">
                  <div class="form-group mt-3">
                    <label for="card-expiration-year">过期年份</label>
                    <select class="form-control" id="card-expiration-year">
                      <option value="" disabled selected>选择年份</option>
                      <option value="2025">2025</option>
                      <option value="2026">2026</option>
                      <option value="2027">2027</option>
                      <option value="2028">2028</option>
                      <option value="2029">2029</option>
                      <option value="2030">2030</option>
                      <option value="2031">2031</option>
                      <option value="2032">2032</option>
                      <option value="2033">2033</option>
                      <option value="2034">2034</option>
                      <option value="2035">2035</option>
                    </select>
                  </div>
                </div>
                <div class="col-2">
                  <div class="form-group mt-3">
                    <label for="card-cvv">CVV</label>
                    <input type="text" class="form-control" id="card-cvv" placeholder="请输入CVV">
                  </div>
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-end align-items-center gap-3">
              <button class="btn btn-outline-secondary mt-3" id="cancelBtn">取消支付</button>
              <button class="btn btn-outline-success mt-3" id="confirmBtn">支付</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="placeholder-body">
    <div class="modal message-modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <p></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary confirm">好的</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="p-3 bg-white text-dark text-center">
    <div class="container">
      <span class="">Copyright &copy; 166-队就是队</span>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
    integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
    crossorigin="anonymous"></script>
  <script type="module" src="../static/js/payment.js"></script>
  <script>

  </script>
</body>

</html>