<tr>
    <td class="name-column">
        <span>张三李四</span>
    </td>
    <td class="phone-column">
        <span>86-12345678901</span>
    </td>
    <td class="address-column">
        <span>
            <span class="province">北京</span>
            <span class="city">北京市</span>
            <span class="district">海淀区</span>
            <span class="street">知春路</span>
        </span>
    </td>
    <td class="address-column">
        <span>北京北京市海淀区知春路甲48号抖音视界（北京）有限公司</span>
    </td>
    <td class="operation-column">
        <a class="implicit-link underline-link" href="#"><span>修改</span></a>
        <a class="implicit-link underline-link" href="#"><span>删除</span></a>
    </td>
    <td class="move-setting-column">
        <a><span class="saved-address-specific">默认地址</span></a>
    </td>
</tr>

<tr>
    <td class="name-column">
        <span>王五</span>
    </td>
    <td class="phone-column">
        <span>86-12345678901</span>
    </td>
    <td class="address-column">
        <span>
            <span class="province">广东省</span>
            <span class="city">深圳市</span>
            <span class="district">南山区</span>
            <span class="street">海天二路</span>
        </span>
    </td>
    <td class="address-column">
        <span>广东省深圳市南山区海天二路33号腾讯滨海大厦</span>
    </td>
    <td class="operation-column">
        <a class="implicit-link underline-link" href="#"><span>修改</span></a>
        <a class="implicit-link underline-link" href="#"><span>删除</span></a>
    </td>
    <td class="move-setting-column">
        <a class="implicit-link underline-link" href="#"><span>设为默认</span></a>
    </td>
</tr>