<div class="product-list">
    <div class="row justify-content-start">
        <div class="col-2 product-item">
            <div class="d-flex flex-column justify-content-start align-items-center">
                <div class="product-item-img">
                    <img src="../src/product1.jpg" alt="product-img" class="img-fluid">
                </div>
                <div class="product-item-details text-start" style="width: 100%;">
                    <div class="product-item-name">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia, alias!
                    </div>
                    <div class="product-item-price d-flex align-items-end">
                        <div class="currency">￥</div>
                        <div class="price">123.00</div>
                    </div>
                    <div class="product-item-bought d-flex justify-content-start align-items-center">
                        <span class="buy-count">10</span>
                        <span class="buy-decl"> +人购买</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>